 @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
 /*cinzel decorative */
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
 /*urbanist*/
 @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

 /*dynapuff*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: urbanist;
   letter-spacing: 1.5px;
 }

 body {
   font-family: urbanist;
   letter-spacing: 1.5px;
   line-height: 1.6;
   color: #333;
   background-color: #f9f5e9;
 }

 header {
   background-color: #E27396;
   color: #E27396;
   padding: 1rem 0;
   position: sticky;
   top: 0;
   z-index: 100;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 /* navbar */
 .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1500px;
   margin: 0 auto;
   padding: 0 30px;
 }

 .logo {
   font-family: "Cinzel Decorative";
   font-size: 1.5rem;
   font-weight: bold;
   color: #ecf2d8;
 }

 .menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.botao-menu {
  display: inline-block;
  color: #ecf2d8;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
  background-color: #E27396;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 2px solid #E27396;
  border-radius: 45%;
  text-align: center;
  transition: color 0.3s;
}

.botao-menu:focus {
  border: 2.5px dotted #B3DEE2;
  border-radius: 40%;
  background-color: #E27396;
  color: #B3DEE2;
}

.botao-menu:hover {
  color: #B3DEE2;
  cursor: pointer;
}

 .menu a {
   text-align: center;
 }

 /* hero-section */
 .hero {
   background: url("imagens/saboooOOOOr.png");
   background-size: cover;
   background-position: center;
   height: 650px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #ecf2d8;
   min-height: 80vh;
   padding: 0 5%;
 }

 .hero-content {
   color: #ecf2d8;
   text-align: left;
 }

 .hero-content h1 {
   font-size: 3rem;
   margin-bottom: 1rem;
   font-family: "dynapuff";
 }

 .hero-content p {
   font-size: 1.2rem;
   margin-bottom: 2rem;
 }

 .hero-wave {
   background-image: url("imagens/ponta-hero.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: bottom center;
   height: 200px;
   width: 100%;
   margin-top: -1px;
   background-color: #f9f9f9;
 }

.botao-hero {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 60px;
    background-color: #15a7b4;
    color: #ecf2d8;
    text-decoration: none;
    border: 1px solid #27bac7;
    border-radius: 17px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.botao-hero:hover {
    color: #ecf2d8;
    border-color: #B3DEE2;
    cursor: pointer;
}

.botao-hero:focus {
    border: 10px dotted #B3DEE2;
    color: #B3DEE2;
}

 /* section -> destaques do mês */
 .sabores {
   padding: 4rem 0;
   background-color: #f9f9f9;
 }

 .section-title {
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: 3rem;
   color: #15a7b4;
   font-family: dynapuff;
 }

 .cards {
   display: flex;
   gap: 2rem;
   justify-content: center;
   flex-wrap: wrap;
 }

 .sorvete-destaques {
   background-color: #fffdf4;
   width: 350px;
   border-radius: 40px;
   padding: 30px 20px 50px 20px;
   position: relative;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: transform 0.3s ease;
 }

 .sorvete-destaques:hover {
   transform: translateY(-10px);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
 }

 .image-container {
   position: relative;
   width: 240px;
   height: 240px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 25px;
 }

 .gradient-circle {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #e27296;
 }

 .product-image {
   position: relative;
   width: 100%;
   height: auto;
   object-fit: contain;
   z-index: 2;
   padding-bottom: 30px;
 }

 .card-content {
   width: 100%;
   padding: 0 10px;
 }

 .card-title {
   color: #c62769;
   font-size: 20px;
   font-family: "dynapuff";
   font-weight: 700;
   letter-spacing: -0.5px;
   margin-bottom: 15px;
   text-align: left;
 }

 .card-descricao {
   color: #30181c;
   font-size: 14px;
   line-height: 1.5;
   font-weight: 400;
   text-align: left;
 }

 /* section -> outros sabores */
 .outros-sabores {
  background-color: #f9f9f9;
  padding: 4rem 0;
}

.cards-outros{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-items: center;
}

.card-outros{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.card-outros:hover {
 transform: translateY(-10px);
}

.container-outros {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.image-outros {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title-outros {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 1.1rem;
  color: #006c76;
  margin-bottom: 6px;
}

.descricao-outros {
  font-family: "Urbanist";
  font-size: 1rem;
  color: #2a2020;
  max-width: 200px;
  line-height: 1.5;
  margin-bottom: 0; 
}

/*section -> avaliacoes*/
.avaliacoes {
    padding: 80px 80px;
    background-color: #fff1b7;
    text-align: center;
}

.avaliacoes h2 {
    font-size: 2.5rem;
    font-family: "dynapuff";
    margin-bottom: 50px;
    color: #ee5896;
}

.cards-avaliacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card-avaliacao {
    background: white;
    padding: 25px;
    border-radius: 15px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.card-avaliacao:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.card-avaliacao img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-avaliacao h3 {
    margin-bottom: 10px;
    color: #c62769;
}

.estrelas {
    color: #ffc107;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card-avaliacao p {
    color: #666;
    line-height: 1.6;
}


/*section -> sobre*/
.sobre-nos {
    background-color: #f0db86;
    padding: 80px 20px;
    text-align: center;
}

.sobre-nos h2 {
    font-size: 2.5rem;
    font-family: "dynapuff";
    margin-bottom: 15px;
    color: #f9f5e9;
}

.descricao {
    max-width: 700px;
    margin: 0 auto 50px;
    color: #666;
}

.chefs {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.chef-card {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.chef-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.chef-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 5px;
}

.chef-card h3 {
    margin-top: 15px;
    color: #333;
}

.chef-card span {
    color: #15a7b4;
    font-weight: bold;
}

 /*footer*/
 footer {
   background-color: #52c4ce;
   padding: 3rem;
   color: #f9f9f9;
 }

 .footer-content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1rem;
   margin-bottom: 1rem;
 }

 .footer-section {
   flex: 1;
   min-width: 70px;
   margin-bottom: 1rem;
   margin-left: 5rem;
 }

 .footer-section h4 {
   margin-bottom: 1rem;
   color: #fffdf4;
 }

 .hr {
   background-color: #ffffff;
   border: none;
   height: 1px;
 }

 .footer-bottom {
   text-align: center;
   padding-top: 3rem;
   color: #f9f5e9;
 }

 /* TABLETS */
@media (max-width: 1024px) {

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .cards-avaliacoes {
    grid-template-columns: repeat(2, 1fr);
  }

  .chefs {
    gap: 20px;
  }

  .chef-card {
    width: 250px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    flex-wrap: wrap;
    gap: 10px;
  }

  .botao-menu {
    max-width: 140px;
    font-size: 0.9rem;
  }

  .hero {
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    padding: 20px;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .cards-avaliacoes {
    grid-template-columns: 1fr;
  }

  .card-avaliacao {
    width: 100%;
  }

  .chef-card {
    width: 100%;
    max-width: 320px;
  }

  .cards-outros {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-left: 0;
  }
}

@media (max-width: 480px) {

  .logo {
    font-size: 1.2rem;
  }

  .hero-content h1 {
    font-size: 1.7rem;
  }

  .cards-outros {
    grid-template-columns: 1fr;
  }

  .sorvete-destaques {
    width: 100%;
  }

  .image-container {
    width: 180px;
    height: 180px;
  }

  .product-image {
    width: 110%;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}