* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f5e9;
}

.header {
  background-color: #eeeade;
  color: white;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d2411;
}

.menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.botao-menu {
  color: #2d2411;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 2px solid #2d2411;
  border-radius: 45%;
  text-align: center;
  align-items: center;
}

.botao-menu:hover {
  color: #d4a574;
}

menu a {
  text-align: center;
}